@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    background-color: rgb(248, 245, 246);
}
.col{
    background-color: rgb(248, 245, 246);
}
.container{
    margin-top:20px;
    border-radius: 15px;
}
a{
    font-family: 'Bebas Neue', cursive;
    color: rgb(12, 2, 5);
    font-size: 1.2em;
}