@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
body{
    background-color: rgb(68, 137, 177);
}
.col{
    background-color: rgb(93, 147, 179);
    display: flex;
    justify-content: center;
}
.container{
    margin-top:20px;
    border-radius: 15px;
}
a{
    font-family: 'Bebas Neue', cursive;
    color: rgb(12, 2, 5);
    font-size: 1.8em;
}
h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;
}
p{
    font-family: 'Roboto Slab', serif;
    font-size: 1.2em;
}
.img-fluid
{
    padding-top: 20px;
}
